@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
    font-family: 'Quicksand', sans-serif;
  }

  h2 {
    @apply text-3xl font-semibold;
    font-family: 'Quicksand';
  }

  h3 {
    @apply text-2xl font-medium font-sans;
    font-family: 'Quicksand';
  }

  p {
    @apply text-base;
    font-family: 'Quicksand', sans-serif;
  }
}

